
.imagePeople{
  max-width: 150px;
}
.profileButtonSubmit{
  width: 100%;
}
.inputimage{
  width: 100%;
  margin-bottom: 10px;
}
.inputname{
  width: 100%;
  margin-bottom: 10px;
}
.inputSurname{
  width: 100%;
  margin-bottom: 10px;
}
.inputInfo{
  width: 100%;
  margin-bottom: 10px;
}
.profileheight{
  height: 250px;
}

body {
    overflow-x: hidden;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#postCard {
    padding: 2%;
    margin-top: 2%;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

.videoWrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 10px;
}

iframe {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#postComm{
  display: inline-block;
  width: 80%;
  margin-right: 1%;
  margin-bottom: 2%;
  border-left: none;
  border-top: none;
  border-right:none;
}

.form-control:focus{
  border-color: none;
  box-shadow: none;
  outline: none
}
